<app-my-header name="Лабораторна робота №3"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Завдання
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p >Знайти структуру з найбільшою та найменшою висотою.</p>
    </ion-card-content>
  </ion-card>
  <ion-toolbar>
    <ion-title>Архітектурні структури</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let structure of structures">
      <ion-label>
        <h2>{{ structure.name }}</h2>
        <p>Висота: {{ structure.height }} м</p>
        <p>Рік будівництва: {{ structure.yearBuilt }}</p>
        <p *ngIf="isBuilding(structure)">Кількість поверхів: {{ getBuildingFloors(structure) }}</p>
        <p *ngIf="isBridge(structure)">Довжина: {{ getBridgeLength(structure) }} м</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-title>Найвища структура: {{ getTallestStructure().name }}</ion-title>
  <p></p>
  <ion-title>Найнижча структура: {{ getShortestStructure().name }}</ion-title>

</ion-content>
