<app-my-header name="Лабораторна робота №2"></app-my-header>

  <ion-toolbar>
    <ion-title>Перелік студентів</ion-title>
  </ion-toolbar>

<ion-content>
  <ion-list *ngFor="let group of groupedStudents | keyvalue">
    <ion-item-divider>
      <ion-label>{{ group.key }}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let student of group.value">
      <ion-label>
        <h2>{{ student.name }}</h2>
        <p>Дата народження: {{ student.birthdate }}</p>
        <p>Адреса: {{ student.address }}</p>
        <p>Телефон: {{ student.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<canvas id="studentsChart"></canvas>

