<app-filter></app-filter>
<ion-item>
  <ion-toolbar>
    <ion-title>Перегляд усіх товарів</ion-title>
  </ion-toolbar>
</ion-item>
<ion-button (click)="addFormShow()">Додати товари</ion-button>
<app-add-product-component
  *ngIf="showAddForm"
    (productAdd)="addProduct($event)"
  ></app-add-product-component>

<ion-card *ngFor="let product of products; index as i">
  <ion-card-header>
    <ion-card-title>{{ product.getName() }}</ion-card-title>
    <ion-card-subtitle>{{ product.getType() }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item *ngFor="let detail of product.getDetails()">
      <ion-label>{{ detail }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ціна {{ product.getPrice() }}</ion-label>
    </ion-item>
  </ion-card-content>
  <ion-button (click)="editFormShow(i)">Редагувати</ion-button>
  <app-edit-product
    *ngIf="showEditForm && i == editFormnumber"
    (productEdit)="editProduct($event, i)"
    [product]="product">
  </app-edit-product>
</ion-card>
