<app-my-header name="Лабораторна робота №1"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Завдання №1
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p >Задано три числа. Знайти добуток тих з них, які більші 10 і менші 15.</p>
      <ion-item>

        <ion-input
        label="Перше чиисло"
        labelPlacement="stacked" 
        type="number" 
        id="a" 
        value="1" 
        #Inputa>
        </ion-input>
      </ion-item>
      <ion-item>

        <ion-input
        label="Друге чиисло"
        labelPlacement="stacked" 
        type="number" 
        id="b" 
        value="2" 
        #Inputb>

        </ion-input>
      </ion-item>
      <ion-item>
        
        <ion-input
        label="Третє чиисло"
        labelPlacement="stacked" 
        type="number" 
        id="c" 
        value="3" 
        #Inputc>
        </ion-input>

      </ion-item>

      <ion-button 
      expand="block" 
      (click)="calculate(Inputa.value, Inputb.value, Inputc.value)">Порахувати 
      </ion-button>

      <ion-item>
        <p> Результат: {{d}}</p>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

